.states_container_basic { 
   width: 70%;
   left:15%;
   /* position: absolute; */
   margin-top:50px !important;
   /* background-color: rgb(209, 206, 206); */
   border-color: #2684ff;
}

.districts_container_basic {
   width: 70%;
   left:15%;
   /* top:50%; */
   /* position: absolute; */
   margin-top:50px !important;
   /* background-color: rgb(209, 206, 206); */
   border-color: #2684ff;
}